@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,900;1,900&display=swap');
/* @import '@picocss/pico'; */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

/* Green Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme='light'],
:root:not([data-theme='dark']) {
  --primary: hsla(var(--palette-green-40), 100%);
  --primary-hover: hsla(var(--palette-green-50), 100%);
  --primary-focus: transparent;
  --primary-inverse: hsla(var(--palette-green-50), 100%);
  --primary-bg: hsl(0, 0%, 100%);
  --secondary-bg: hsl(0, 0%, 95%);
  --gradient-primary: hsla(var(--palette-green-70), 35%);
  --gradient-secondary: hsla(var(--palette-blue-70), 35%);
  --text: hsl(0, 0%, 10%);
  --disabled: hsl(0, 0%, 40%);
  --shadow: hsla(0, 0%, 0%, 0.05) 0px 1px 0px, hsla(0, 0%, 0%, 0.1) 0px 0px 8px;
}

/* Green Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --primary: hsla(var(--palette-green-40), 100%);
    --primary-hover: hsla(var(--palette-green-60), 100%);
    --primary-focus: transparent;
    --primary-inverse: hsla(var(--palette-green-60), 100%);
    --primary-bg: hsl(0, 0%, 0%);
    --secondary-bg: hsl(0, 0%, 5%);
    --gradient-primary: hsla(var(--palette-green-70), 35%);
    --gradient-secondary: hsla(var(--palette-blue-70), 35%);
    --text: hsl(0, 0%, 100%);
    --disabled: hsl(0, 0%, 60%);
    --shadow: hsla(0, 0%, 100%, 0.05) 0px 1px 0px, hsla(0, 0%, 100%, 0.1) 0px 0px 8px;
  }
}

/* Green Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme='dark'] {
  --primary: hsla(var(--palette-green-50), 100%);
  --primary-hover: hsla(var(--palette-green-60), 100%);
  --primary-focus: transparent;
  --primary-inverse: hsla(var(--palette-green-60), 100%);
  --primary-bg: hsl(0, 0%, 0%);
  --secondary-bg: hsl(0, 0%, 5%);
  --gradient-primary: hsla(var(--palette-green-70), 35%);
  --gradient-secondary: hsla(var(--palette-blue-70), 35%);
  --text: hsl(0, 0%, 100%);
  --disabled: hsl(0, 0%, 60%);
  --shadow: hsla(0, 0%, 100%, 0.05) 0px 1px 0px, hsla(0, 0%, 100%, 0.1) 0px 0px 8px;
}

:root {
  /* Base colors */
  --base-green: 169, 81%;
  --base-blue: 234, 67%;

  --palette-green-10: var(--base-green), 10%;
  --palette-green-20: var(--base-green), 20%;
  --palette-green-30: var(--base-green), 30%;
  --palette-green-40: var(--base-green), 40%;
  --palette-green-50: var(--base-green), 50%;
  --palette-green-60: var(--base-green), 60%;
  --palette-green-70: var(--base-green), 70%;
  --palette-green-80: var(--base-green), 80%;
  --palette-green-90: var(--base-green), 90%;
  --palette-green-100: var(--base-green), 100%;

  --palette-blue-10: var(--base-blue), 10%;
  --palette-blue-20: var(--base-blue), 20%;
  --palette-blue-30: var(--base-blue), 30%;
  --palette-blue-40: var(--base-blue), 40%;
  --palette-blue-50: var(--base-blue), 50%;
  --palette-blue-60: var(--base-blue), 60%;
  --palette-blue-70: var(--base-blue), 70%;
  --palette-blue-80: var(--base-blue), 80%;
  --palette-blue-90: var(--base-blue), 90%;
  --palette-blue-100: var(--base-blue), 100%;

  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);

  /* Fonts Families*/
  --font-primary: 'Poppins', sans-serif;
  --font-accent: 'JetBrains Mono', monospace;

  /* Font Sizes */
  --font-size-xs: 0.7rem;
  --font-size-s: 0.8rem;
  --font-size-m: 0.9rem;
  --font-size-l: 1rem;

  /* Container widths */
  --container-width-full: 100%;
  --container-width-large: 80em;
  --container-width-medium: 60em;
  --container-width-small: 40em;

  /* Gutters */
  --gutter-x: 2rem;
  --gutter-y: 1.6rem;

  font-family: var(--font-primary);
  box-sizing: border-box;
}

/* Responsive Font Size */
@media (min-width: 30em) {
  :root {
    --font-size-xs: 0.8rem;
    --font-size-s: 0.9rem;
    --font-size-m: 1rem;
    --font-size-l: 1.1rem;
  }
}

html,
body,
#root {
  /* width: 100%; */
  /* height: 100%; */
  /* margin: 0;
  padding: 0; */
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  /* IS THIS NECESSARY? */
  /* overflow: hidden; */ 

  /* background: #1D2741; */
  /* background-image: url('/public/bg.png'); */
  /* background-image: url("https://res.cloudinary.com/do4mactw0/image/upload/v1651555652/Home_ef2hlm.png"); */
  /* background-size: fill;
  background-repeat: no-repeat;
  background-position: top;
   */
  

}

.background-gradient {
  background: 
  radial-gradient(ellipse at right, var(--gradient-primary), transparent),
  radial-gradient(ellipse at bottom, var(--gradient-secondary), transparent);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#circle-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle {
  position: absolute;
  border-radius: 50%;
  background: transparent;
  border: hsla(105, 17%, 41%, 0.07) solid 1px;
  aspect-ratio: 1/1;
  box-sizing: border-box;
}
.circle-little {
  border-radius: 50%;
  background: hsla(105, 17%, 41%, 0.07);
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  aspect-ratio: 1/1;
  z-index: -2;
}
.circle.one {
  height: 95%;
}
.circle.two {
  height: 85%;
}
.circle.three {
  height: 75%;
}
.circle.four {
  height: 65%;
}
.circle.five {
  height: 55%;
}
.circle.six {
  height: 45%;
}
.circle.seven {
  height: 35%;
}
.circle.eight {
  height: 25%;
}
.circle.nine {
  height: 15%;
}
/* Circle rotating effect */
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 8s linear infinite;
  -moz-animation: rotating 8s linear infinite;
  -ms-animation: rotating 8s linear infinite;
  -o-animation: rotating 8s linear infinite;
  animation: rotating 8s linear infinite;
}
.rotating.two, .rotating.seven {
  -webkit-animation: rotating 14s linear infinite;
  -moz-animation: rotating 14s linear infinite;
  -ms-animation: rotating 14s linear infinite;
  -o-animation: rotating 14s linear infinite;
  animation: rotating 14s linear infinite;
}
.rotating.reverse {
  animation-direction: reverse;
}
@media (min-width: 50em) {
  .circle.one {
    width: 95%;
    height: auto;
  }
  .circle.two {
    width: 85%;
    height: auto;
  }
  .circle.three {
    width: 75%;
    height: auto;
  }
  .circle.four {
    width: 65%;
    height: auto;
  }
  .circle.five {
    width: 55%;
    height: auto;
  }
  .circle.six {
    width: 45%;
    height: auto;
  }
  .circle.seven {
    width: 35%;
    height: auto;
  }
  .circle.eight {
    width: 25%;
    height: auto;
  }
  .circle.nine {
    width: 15%;
    height: auto;
  }
}

@supports not (aspect-ratio: 1/1) {
  #circle-container {
    display: none;
  }
}

/* .backdrop-color{
  position: fixed;
  z-index: -1;
width: 1101px;
height: 200%;
left: -48px;
top: 0px;

background: radial-gradient(50% 50% at 50% 50%, rgba(47, 83, 194, 0.4) 0%, rgba(46, 194, 199, 0) 100%);
filter: blur(200px);
} */

body {
  /* overscroll-behavior: none; */
  background: #1D2741;
  font-family: 'Poppins', sans-serif;
  cursor: url('https://res.cloudinary.com/do4mactw0/image/upload/v1651689709/cursor_ctwznw.svg'),
    auto;
 
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}


canvas {
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
  
}

h1 {
  /* font-size: 8em; */
  font-weight: 900;
  letter-spacing: -0.3rem;
  /* line-height: 6rem; */
  margin: 0;
  padding: 0;
  color: rgba(240, 248, 255, 0.8);
  -webkit-text-stroke:1.4px white;
  -webkit-text-fill-color:transparent;
}

h2 {
  /* font-family: 'JetBrains Mono', monospace; */
  font-size: 4em;
  font-weight: 600;
  /* line-height:4.2rem; */
  padding: 0;
  color: #fff
}


h3 {
  font-size: 4em;
  font-weight: 800;
  letter-spacing: -0.05em;
  line-height:4.2rem;
  margin-left: 2rem;
  padding: 0;
  color: rgba(240, 248, 255, 0.798);
}

.icon{
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 20px;
}

/* a {
  pointer-events: all;
  color: black;
  text-decoration: none;
} */

p {
  color: rgba(240, 248, 255, 0.9);

}

.cards-container{
  background-color: blue;
}

.card-left {
  width: 24vw;
  background-color: black;
}

.card-title {
  display: flex;
  align-items: center;
}

/* NAV */

header {
  position: sticky;
  top: 0;
}


.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-bar-container {
  width: 100px;
  height: 3px;
  background: #272727;
}

.loading-bar {
  height: 3px;
  background: white;
}

.loading-data {
  display: inline-block;
  position: relative;
  font-variant-numeric: tabular-nums;
  margin-top: 0.8em;
  color: #f0f0f0;
  font-size: 0.6em;
}

button {
background-color: rgba(0, 0, 0, 0.9);
font-family: var(--font-accent) ;
color: #00F5D0;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
cursor:pointer;

}
button:hover {
background: #00F5D0;
color: black
}

.icon {
  font-size: 13px;
  color: #91A5BE;
  transform: rotate(0deg);
  transition: all .2s ease-in-out;
}

.icon.open {
  transform: rotate(90deg);
}
